//colors
$primaryColor: #e4c517;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;700&display=swap');
$fontFamily: "inter";
$regularWeight:100;
$heavyWeight:700;

//other
$gutter: 10%;