/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    font-family: $fontFamily;
    font-size: 16px;
    font-weight: $regularWeight;
}

#headerWrapper {
    background-color: $primaryColor;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header {
    padding: 1rem $gutter;
    color: white;
    width: 100%;
    max-width: 75rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    .headerText{
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        h1 {
            margin: 0;
            font-size: 1.5rem;
            font-weight: $heavyWeight;
        }
        h2 {
            margin: 0; 
            font-size: 1.2rem; 
            font-weight: $regularWeight;
            display: none;
        }
    }
    img {
        display: block;
        float: left;
        margin: 2px;
        height: 5rem;
    }
}

#navWrapper {
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav {
    width: 100%;
    max-width: 75rem;
    ul{
        margin:0; padding: 0;
    }
    li {
        list-style-type: none;
        width: 50%;
        float: left
    }
    li.active {
        background-color: #333
    }
    a {
        display: block;
        padding: .8rem 0; /*44px min*/
        color: #eee;
        text-align: center;
        text-decoration: none;
    }
    a:hover {background-color: #444;}
}

#mainWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main {
    display: block; 
    padding: 1rem $gutter;
    width: 100%;
    max-width: 75rem;
    background-color: #eee;
    h1 {
        color: $primaryColor;
        font-weight: $heavyWeight;
    }
    figure{
        margin: 0;
        width: 100%;
        img {width: 100%;}
    }
    figcaption {text-align: center; font-size: .8rem;}
}

#footerWrapper {
    background-color: $primaryColor;
}
footer {
    text-align: center;
    padding: 1rem $gutter;
    color: white;
}
.hero{
    width: 100%; 
    height: auto;
    margin: 0
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}