//colors
$primaryColor: #007c4d;

//fonts
//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');
$fontFamily: "inter";
$regularWeight:300;
$heavyWeight:700;

//other
$gutter: 2%;